---
section: texts
---
<div class="row">
  <form class="search box" id="search">
    <input type="text" placeholder="search texts" id="query">
    <button type="reset" class="hidden" id="close"><i class="fas fa-times"></i></button>
    <button type="submit"><i class="fas fa-search"></i></button>
  </form>
</div>
<div class="row">
  <div class="padded box hidden" id="results">
    <h2>
      Search Results
      <label class="right" for="toggle-all"><input type="checkbox" id="toggle-all" data-toggle="all">Toggle All</label>
    </h2>
    <div class="options">
      {% for p in (0..1) %}
        <div class="options-1">
          {% for n in (0..1) %}
            <div class="options-2">
              {% for m in (0..3) %}
                {% assign offset = p | times: 8 %}
                {% assign index = n | times: 4 | plus: m | plus: offset %}
                {% assign text = site.data.texts[index] %}
                <label for="toggle-{{ text.id }}"><input type="checkbox" id="toggle-{{ text.id }}" data-toggle="{{ text.id }}">{{ text.label }}</label>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div id="hits"></div>
  </div>
</div>
<div class="row">
  <div class="padded box">
    <h2>Early Works (1739-45)</h2>
    <ul>
      <li>A Treatise of Human Nature (1739-40)
        <ul>
          <li><a href="texts/ad1739">Advertisement (1739)</a></li>
          <li><a href="texts/t/0">Introduction (1739)</a></li>
          <li><a href="texts/t/1">Book 1, Of the Understanding (1739)</a></li>
          <li><a href="texts/t/2">Book 2, Of the Passions (1739)</a></li>
          <li><a href="texts/ad1740">Advertisement (1740)</a></li>
          <li><a href="texts/t/3">Book 3, Of Morals (1740)</a></li>
          <li><a href="texts/t/app">Appendix (1740)</a></li>
        </ul>
      </li>
      <li><a href="texts/a">Abstract of a Book lately Published (1740)</a></li>
      <li><a href="texts/l">A Letter from a Gentleman to his Friend in Edinburgh (1745)</a></li>
    </ul>
  </div>
  <div class="padded box">
    <h2>Late Works (1748-77)</h2>
    <ul>
      <li>Essays and Treatises on Several Subjects (1758, 1777)
        <ul>
          <li><a href="texts/ad1758">Advertisement (1758)</a></li>
          <li><a href="texts/ad1777">Advertisement (1777)</a></li>
          <li><a href="texts/e">An Enquiry concerning Human Understanding (1748, 1777)</a></li>
          <li><a href="texts/p">A Dissertation on the Passions (1757, 1777)</a></li>
          <li><a href="texts/m">An Enquiry concerning the Principles of Morals (1751, 1777)</a></li>
          <li><a href="texts/n">The Natural History of Religion (1757, 1777)</a></li>
        </ul>
      </li>
      <li>Four Dissertations (1757)
        <ul>
          <li><a href="texts/ad1757">Dedication (1757)</a></li>
          <li><a href="texts/n">The Natural History of Religion (1757, 1777)</a></li>
          <li><a href="texts/p">A Dissertation on the Passions (1757, 1777)</a></li>
          <li><a href="texts/tr">Of Tragedy (1757, 1777)</a></li>
          <li><a href="texts/st">Of the Standard of Taste (1757, 1777)</a></li>
        </ul>
      </li>
      <li><a href="texts/d">Dialogues concerning Natural Religion (1779)</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="padded box">
    <h2>Essays, Moral, Political, and Literary, Part 1 (1741-77)</h2>
    <ul style="margin-bottom: 0;">
      <li><a href="texts/ad1741">Advertisement (1741)</a></li>
      <li><a href="texts/ad1742">Advertisement (1742)</a></li>
    </ul>
    <ol>
      {% for id in site.data.texts[12].sections %}
        {% assign essay = site.data.sections[id] %}
        <li><a href="texts/{{ id }}">{{ essay.title[0] }} ({% if essay.first != essay.source %}{{ essay.first }}, {% endif %}{{ essay.source }})</a></li>
      {% endfor %}
    </ol>
  </div>
  <div class="padded box">
    <h2>Essays, Moral, Political, and Literary, Part 2 (1752-77)</h2>
    <ol>
      {% for id in site.data.texts[13].sections %}
        {% assign essay = site.data.sections[id] %}
        <li><a href="texts/{{ id }}">{{ essay.title[0] }} ({% if essay.first != essay.source %}{{ essay.first }}, {% endif %}{{ essay.source }})</a></li>
      {% endfor %}
    </ol>
  </div>
</div>
<div class="row">
  <div class="padded box">
    <h2>Posthumous and Withdrawn Essays (1741-68)</h2>
    <ul>
      {% for id in site.data.texts[14].sections %}
        {% assign essay = site.data.sections[id] %}
        <li><a href="texts/{{ id }}">{{ essay.title[0] }} ({% if essay.first != essay.source %}{{ essay.first }}, {% endif %}{{ essay.source }})</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="padded box">
    <h2>Autobiography (1777)</h2>
    <ul>
      <li><a href="texts/mol">My Own Life (1777)</a></li>
    </ul>
  </div>
</div>
