{% assign key = include.text | split: '-' | first %}
{% case key %}
  {% when 'all' %}
    {% include notes/all.html %}
  {% when 'tal' %}
    {% include notes/tal.html %}
  {% when 't' %}
    {% include notes/t.html %}
  {% when 'ad1739' %}
    {% include notes/t.html %}
  {% when 'ad1740' %}
    {% include notes/t.html %}
  {% when 'a' %}
    {% include notes/a.html %}
  {% when 'l' %}
    {% include notes/l.html %}
  {% when 'etss' %}
    {% include notes/etss.html %}
  {% when 'ad1758' %}
    {% include notes/etss.html %}
  {% when 'ad1777' %}
    {% include notes/etss.html %}
  {% when 'empl' %}
    {% include notes/empl.html %}
  {% when 'e' %}
    {% include notes/e.html %}
  {% when 'p' %}
    {% include notes/p.html %}
  {% when 'm' %}
    {% include notes/m.html %}
  {% when 'n' %}
    {% include notes/n.html %}
  {% when 'post' %}
    {% include notes/post.html %}
  {% when 'mol' %}
    {% include notes/mol.html %}
  {% when 'su' %}
    {% include notes/suis.html %}
  {% when 'is' %}
    {% include notes/suis.html %}
  {% when 'd' %}
    {% include notes/d.html %}
  {% when 'other' %}
    {% include notes/other.html %}
  {% when 'emp' %}
    {% include notes/empl.html %}
  {% when 'empw' %}
    {% include notes/empl.html %}
  {% when 'pd' %}
    {% include notes/empl.html %}
  {% when 'fd' %}
    {% include notes/fd.html %}
  {% else %}
    {% include notes/empl.html %}
{% endcase %}
