{% assign key = include.text | split: '-' | first %}
{% case key %}
  {% when 'all' %}
    {% capture notes %}{% include notes/all.md %}{% endcapture %}
  {% when 'tal' %}
    {% capture notes %}{% include notes/tal.md %}{% endcapture %}
  {% when 't' %}
    {% capture notes %}{% include notes/t.md %}{% endcapture %}
  {% when 'ad1739' %}
    {% capture notes %}{% include notes/t.md %}{% endcapture %}
  {% when 'ad1740' %}
    {% capture notes %}{% include notes/t.md %}{% endcapture %}
  {% when 'a' %}
    {% capture notes %}{% include notes/a.md %}{% endcapture %}
  {% when 'l' %}
    {% capture notes %}{% include notes/l.md %}{% endcapture %}
  {% when 'etss' %}
    {% capture notes %}{% include notes/etss.md %}{% endcapture %}
  {% when 'ad1758' %}
    {% capture notes %}{% include notes/etss.md %}{% endcapture %}
  {% when 'ad1777' %}
    {% capture notes %}{% include notes/etss.md %}{% endcapture %}
  {% when 'empl' %}
    {% capture notes %}{% include notes/empl.md %}{% endcapture %}
  {% when 'e' %}
    {% capture notes %}{% include notes/e.md %}{% endcapture %}
  {% when 'p' %}
    {% capture notes %}{% include notes/p.md %}{% endcapture %}
  {% when 'm' %}
    {% capture notes %}{% include notes/m.md %}{% endcapture %}
  {% when 'n' %}
    {% capture notes %}{% include notes/n.md %}{% endcapture %}
  {% when 'post' %}
    {% capture notes %}{% include notes/post.md %}{% endcapture %}
  {% when 'mol' %}
    {% capture notes %}{% include notes/mol.md %}{% endcapture %}
  {% when 'su' %}
    {% capture notes %}{% include notes/suis.md %}{% endcapture %}
  {% when 'is' %}
    {% capture notes %}{% include notes/suis.md %}{% endcapture %}
  {% when 'd' %}
    {% capture notes %}{% include notes/d.md %}{% endcapture %}
  {% when 'other' %}
    {% capture notes %}{% include notes/other.md %}{% endcapture %}
  {% when 'emp' %}
    {% capture notes %}{% include notes/empl.md %}{% endcapture %}
  {% when 'empw' %}
    {% capture notes %}{% include notes/empl.md %}{% endcapture %}
  {% when 'pd' %}
    {% capture notes %}{% include notes/empl.md %}{% endcapture %}
  {% when 'fd' %}
    {% capture notes %}{% include notes/fd.md %}{% endcapture %}
  {% else %}
    {% capture notes %}{% include notes/empl.md %}{% endcapture %}
{% endcase %}
{{ notes | markdownify }}
