<h2>Search Settings</h2>
<div class="setting">
  <label>Search:</label>
  <div class="inputs">
    <label for="search-original"><input type="radio" name="search" value="original" id="search-original">Original Text</label>
    <label for="search-edited"><input type="radio" name="search" value="edited" id="search-edited">Edited Text</label>
  </div>
</div>
<h2>Text Display Settings</h2>
<div class="setting">
  <label>Edition:</label>
  <div class="inputs">
    <label for="display-original"><input type="radio" name="display" id="display-original">Original Text</label>
    <label for="display-edited"><input type="radio" name="display" id="display-edited">Edited Text</label>
    <label for="display-changes"><input type="checkbox" id="display-changes">Show Changes</label>
  </div>
</div>
<div class="setting">
  <label>Font:</label>
  <div class="inputs">
    <select id="font">
      <option value="sans">Sans Serif</option>
      <option value="serif">Serif</option>
      <option value="imfell">18th Century</option>
    </select>
  </div>
</div>
