{% assign text = site.data.texts[include.text] %}

<div class="block">
  <div class="meta"></div>
  <div class="content title">{{ text.title[2] }}</div>
</div>
{% for paragraph in text.paragraphs %}
  {% if paragraph.title %}
    <div class="block">
      <div class="meta"></div>
      <div class="content">{{ paragraph.title }}</div>
    </div>
  {% endif %}
  <div class="block{% if paragraph.type %} {{ paragraph.type }}{% endif %}" id="{{ paragraph.id }}">
    <div class="meta">
      {{ text.label | append: '.' | append: paragraph.id | replace_first: '.', ' ' }}{% if paragraph.pages %}, {{ text.pages }} {{ paragraph.pages }}{% endif %}
    </div>
    <div class="content">
      {% if paragraph.subsection %}<span class="subsection">{{ paragraph.subsection }}.</span>{% endif %}
      {{ paragraph.content }}
    </div>
  </div>
{% endfor %}
{% for note in text.notes %}
  {% if forloop.first %}<hr>{% endif %}
  <div class="block note{% if note.type %} {{ note.type }}{% endif %}" id="n{{ note.id }}">
    <div class="meta">
      {{ text.label | append: '.n' | append: note.id | replace_first: '.', ' ' }}{% if note.pages %}, {{ text.pages }} {{ note.pages }}{% endif %}
    </div>
    <div class="content">
      {% assign first = note.id | slice: 0 %}
      {% unless note.id contains '.' %}<span class="subsection">{{ note.id }}.</span>{% endunless %}
      {{ note.content }}
    </div>
  </div>
{% endfor %}
{% for id in text.texts %}
  <hr>
  {% include text.html text=id %}
{% endfor %}
