{%- include assign/text.html id=include.id -%}

<div class="block">
  <div class="meta"></div>
  <div class="content title">
    {% if page.essay %}
      <h2>ESSAY {% include text/roman.html number=page.essay %}.</h2>
    {% endif %}
    {{ text.fulltitle }}
  </div>
</div>
{% for paragraph in text.paragraphs %}
  {% include text/paragraph.html %}
{% endfor %}
{% for note in text.notes %}
  {% if forloop.first %}<hr>{% endif %}
  {% include text/note.html %}
{% endfor %}
{% for id in text.texts %}
  <hr>
  {% include text.html id=id %}
{% endfor %}
