{%- include assign/text.html id=include.id -%}

<div class="block">
  <div class="meta"></div>
  <div class="content title">{{ text.fulltitle }}</div>
</div>
{% for variant in text.variants %}
  <div class="block">
    <div class="meta"></div>
    <div class="content explanation">
      <small>{{ variant.explanation }}</small>
    </div>
  </div>
  {% for paragraph in variant.paragraphs %}
    {% include text/paragraph.html %}
  {% endfor %}
  {% for note in variant.notes %}
    {% if forloop.first %}<hr>{% endif %}
    {% include text/note.html %}
  {% endfor %}
{% endfor %}
