*, ::before, ::after {
	box-sizing: inherit;
	font: inherit;
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	cursor: default;
}

body {
	color: $black;
  font-family: $sans;
  font-size: 16px;
	line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1;
	margin-bottom: 1em;
}

ul,
ol {
	margin-left: 2em;
	margin-bottom: 1em;
}

ul ul {
	margin-bottom: .5em;
}

b, strong {
	font-weight: 600;
}

em, i {
	font-style: italic;
}

a {
  color: $red;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

img {
	display: inline-block;
	max-width: 100%;
}

table {
	border-collapse: collapse;
}

input[type="text"],
button {
	height: 2.25rem;
}

input[type="text"] {
	padding: 1em 1em 1.25em;
}

button {
	background: #fff;
	cursor: pointer;
	color: $gray;
	width: 2.25em;
	&:hover {
		color: $red;
	}
}

@media(min-width: $break1) {
	body {
		background: $lightgray;
	}
}
