.box .text {
  font-size: 1.25em;
  hr {
    border-bottom: 1px solid $gray;
    margin-bottom: 1em;
  }
  .block {
    .meta {
      font-size: .825em;
      color: $red;
      text-align: right;
      margin-bottom: .5em;
    }
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  .summary {
    font-size: .825em;
  }
  .hits {
    margin-top: 1.5em;
  }
}

@media(min-width: $break2) {
  .box .text {
    font-size: 1.375em;
    padding: 2rem;
    .block {
      display: flex;
      .meta {
        flex: 1;
        text-align: left;
      }
      .content {
        flex-basis: 27.2em;
      }
    }
  }
}
