.tool {
  .box-head {
    display: flex;
    flex-wrap: wrap;
    background: $red;
    color: #fff;
    margin-bottom: .5em;
    a {
      color: #fff;
    }
    h1, h2 {
      font-weight: normal;
    }
    h1 {
      flex-basis: 2.25em;
      text-align: center;
      padding: .25em .5em;
    }
    h2 {
      padding: .25em 0 .25em .5em;
      &:not(:last-child) {
        &::after {
          content: '>';
          padding-left: .25em;
        }
      }
    }
  }
  .box-body {
    padding: 0;
  }
  .hidden {
    display: none;
    &.active {
      display: block;
    }
  }
  .options {
    border: 1px solid $gray;
    .labels {
      display: flex;
      flex-wrap: wrap;
      &:not(:last-child) {
        border-bottom: 1px solid $gray;
      }
      label {
        flex: 1;
        &:not(:last-child) {
          border-right: 1px solid $gray;
        }
        &.active {
          background: lightyellow;
        }
      }
    }
    input[type='checkbox'], input[type='radio'] {
      margin-right: .5em;
    }
    .disabled {
      cursor: not-allowed;
      color: $gray;
    }
    &.yellow {
      label {
        background: lightyellow;
      }
    }
  }
  .search {
    border: 1px solid $gray;
    display: flex;
    margin-top: .5em;
    input[type='text'] {
      flex: 1;
    }
    button, a {
      flex-basis: 2em;
      padding: .25em 0;
      text-align: center;
      color: $gray;
      &:hover, &.active {
        color: $red;
      }
    }
  }
}

@media(min-width: $break1) {
  .tool {
    .box-head {
      margin-bottom: 0;
    }
    .box-body {
      padding: 0;
    }
    .search {
      border: 0;
      margin-top: 0;
    }
    .options {
      border: 0;
      margin: 0;
      .labels {
        border-bottom: 1px solid $gray;
      }
    }
    .search-help {
      border: 0;
      border-bottom: 1px solid $gray;
      margin-bottom: 0;
    }
  }
}

@media(min-width: $break2) {
  .options {
    display: flex;
    .labels {
      flex: 1;
      &:not(:last-child) {
        border-bottom: 0;
        border-right: 1px solid $gray;
      }
    }
  }
}
