.box.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  background: $red;
  color: #fff;
  margin-bottom: .5em;
  a {
    color: #fff;
  }
  h1, h2 {
    font-weight: normal;
  }
  h1 {
    flex-basis: 2.25em;
    text-align: center;
    padding: .25em .5em;
  }
  h2 {
    padding: .25em 0 .25em .5em;
    &:not(:last-child) {
      &::after {
        content: '>';
        padding-left: .25em;
      }
    }
  }
}
