// basic settings for content boxes
.content {
  font-family: 'IM Fell English';
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 400;
  }
  p {
    text-align: justify;
  }
  em {
    font-style: italic;
    em {
      font-style: normal;
    }
  }
  b {
    font-family: 'IM Fell English SC';
    font-style: normal;
    font-weight: normal;
  }
  i {
    font-family: 'GFS Didot';
    font-style: normal;
  }
  strong {
    font-weight: normal;
  }
  sup {
    color: $red;
  }
}

// addition settings for title content boxes
.content.title {
  // defaults
  h1, h2, h3, h4, h5, h6, p, blockquote {
    margin-bottom: 1rem;
  }
  p {
    font-style: italic;
    text-indent: -1.5em;
    margin-left: 1.5em;
  }
  blockquote {
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    padding: 1em 0;
    cite {
      float: right;
    }
  }
  strong {
    letter-spacing: .5rem;
  }
  // treatise title specifics
  &.t {
    h1, h2, h3, h4, h5, h6, blockquote {
      margin-bottom: 1.5rem;
    }
    h6 {
      font-size: .75em;
    }
  }
  // abstract and letter from a gentleman title specifics
  &.a, &.l {
    h6 {
      text-align: justify;
      text-indent: -1em;
    }
    strong {
      letter-spacing: .25rem;
    }
  }
  // first and second enquiry title specifics
  &.e, &.m {
    h1, h2, h3, h4 {
      margin-bottom: 1.5rem;
    }
    h2 {
      max-width: 100%;
    }
  }
}

// additional settings for paragraph and note content boxes
.content.paragraph, .content.note {
  p {
    &:first-child {
      text-indent: 2em;
    }
  }
  &.first {
    p:first-child {
      text-indent: 0;
    }
    .subsection {
      margin-left: 0;
    }
  }
  del {
    display: none;
  }
  ins {
    text-decoration: none;
  }
  .subsection {
    float: left;
    margin-left: 2em;
    margin-right: .5em;
  }
  .tab {
    display: inline-block;
    width: 2em;
  }
  .page-break {
    display: none;
  }
}

// additional settings for paragraph content boxes
.content.paragraph {
  p {
    strong {
      float: left;
      font-size: 3.35em;
      font-weight: normal;
      line-height: 1;
      margin-top: -0.03em;
      margin-bottom: -0.1em;
    }
  }
  blockquote {
    margin: 1em 0 1em 2em;
    text-indent: 0;
  }
  .stars {
    letter-spacing: 4em;
    padding-left: 2em;
    text-align: center;
  }
  .margin-comment {
    float: right;
    font-size: .85em;
    background: $gray;
    text-indent: 0;
    padding: 0 .25em;
    margin-left: 1em;
  }
}

// additional settings for note content boxes
.content.note {
  p, blockquote, .subsection {
    font-size: .9em;
  }
  p:not(:first-of-type) {
    text-indent: 2em;
  }
}

// additional settings for explanation content boxes
.content.explanation {
  border: 1px solid $gray;
  padding: .25em .5em;
  small {
    font-family: $sans;
    font-size: .8em;
    text-indent: 0;
  }
}

// changes if page breaks are being shown
.breaks {
  .content {
    .page-break {
      display: inline;
    }
  }
}

// changes if original content is being shown
.original {
  .content {
    del {
      display: inline;
      text-decoration: none !important;
    }
    ins {
      display: none;
    }
  }
  .added {
    display: none;
  }
}

// changes if editorial changes are being highlighting
.changes {
  .content {
    del {
      display: inline;
      text-decoration: line-through;
    }
    ins {
      text-decoration: underline;
    }
    del + ins {
      margin-left: .25em;
    }
  }
}
