.box.banner {
  display: none;
}

@media(min-width: $break1) {
  .box.banner {
    display: block;
    overflow: hidden;
    img {
      display: block;
      width: 200%;
    }
  }
}

@media(min-width: $break2) {
  .box.banner {
    overflow: auto;
    img {
      width: 100%;
    }
  }
}
