.box {
  margin: .5rem;
}

.box-tabs {
  background: #fff;
  display: flex;
  border-bottom: .125em solid $red;
  overflow-x: auto;
  a {
    display: block;
    cursor: pointer;
    padding: .25em .5em .125em;
    white-space: nowrap;
    text-align: center;
    &.active, &:hover {
      background: $red;
      color: #fff;
      text-decoration: none;
    }
  }
  &.bottom {
    border: 0;
    justify-content: flex-end;
    a {
      padding: .125em .5em .25em;
    }
  }
}

.box-body {
  padding: .5em;
  a, button, label {
    cursor: pointer;
  }
  button {
    background: transparent;
  }
  label {
    white-space: nowrap;
  }
  button, input[type='text'], label {
    padding: .25em .5em;
  }
}

@media(min-width: $break1) {
  .box {
    background: #fff;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    margin: 1rem;
    &.notice {
      background: #ffff99;
    }
  }
  .box-body {
    padding: 1rem;
  }
}

@media(min-width: $break2) {
  .box-row {
    display: flex;
    margin-bottom: 1rem;
    .box {
      flex: 1;
      &:first-child {
        margin: 0 .5rem 0 1rem;
      }
      &:last-child {
        margin: 0 1rem 0 .5rem;
      }
    }
  }
  .box {
    .box-tabs-wrapper {
      display: flex;
      justify-content: space-between;
      border-bottom: .125em solid $red;
      overflow-y: auto;
      .box-tabs {
        border: 0;
        &.bottom {
          a {
            padding: .25em .5em .125em;
          }
        }
      }
    }
  }
}
