// colours
$black: #282828;
$gray: #e2e2e2;
$lightgray: #f1f3f5;
$red: #920000;

// fonts
$sans: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// little things
$box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.5);
$border-radius: .4rem;
$black-border: .2rem solid $black;
$white-border: .3rem solid #fff;

// break points
$break1: 38rem;
$break2: 73rem;
