// colours
$black: #282828;
$gray: #e2e2e2;
$lightgray: #f1f3f5;
$red: #920000;

// fonts
$sans: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$serif: "Times New Roman", times, serif;

// box sizes
$box-small: 36rem;
$box-large: 70rem;

// break points
$break1: $box-small + 2;
$break2: $box-large + 2;
