.content {
  font-family: 'IM Fell English';
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 1rem;
    strong {
      letter-spacing: 1rem;
      font-weight: normal;
    }
  }
  h1 {
    font-size: 1.25em;
  }
  p {
    text-align: justify;
    &:first-child {
      text-indent: 2em;
    }
    strong {
      float: left;
      font-size: 3.35em;
      font-weight: normal;
      line-height: 1;
      margin-top: -0.03em;
      margin-bottom: -0.1em;
    }
  }
  blockquote {
    margin-left: 2em;
    margin-top: 1em;
    text-indent: 0;
  }
  sup {
    color: $red;
  }
  del {
    display: none;
  }
  ins {
    text-decoration: none;
  }
  em {
    font-style: italic;
    em {
      font-style: normal;
    }
  }
  b {
    font-family: 'IM Fell English SC';
    font-style: normal;
    font-weight: normal;
  }
  i {
    font-family: 'GFS Didot';
    font-style: normal;
  }
  .stars {
    letter-spacing: 4em;
    padding-left: 2em;
    text-align: center;
  }
  .subsection {
    float: left;
    margin-left: 2em;
    margin-right: .5em;
  }
  .tab {
    display: inline-block;
    width: 2em;
  }
  .page-break {
    display: none;
  }
  .page-ref {
    font-size: .825em;
    font-family: $sans;
    color: lighten($black, 25%);
    margin-right: .25rem;
  }
}

.first .content {
  p:first-child {
    text-indent: 0;
  }
  .subsection {
    margin-left: 0;
  }
}

.note .content {
  p, blockquote, .subsection {
    font-size: .9em;
  }
  p:not(:first-of-type) {
    text-indent: 2em;
  }
}

.explanation .content {
  border: 1px solid $gray;
  padding: .25em .5em;
  small {
    font-family: $sans;
    font-size: .8em;
    text-indent: 0;
  }
}

.breaks .content {
  .page-break {
    display: inline;
  }
}

.original .content {
  del {
    display: inline;
    text-decoration: none !important;
  }
  ins {
    display: none;
  }
}

.original .added {
  display: none;
}

.changes .content {
  del {
    display: inline;
    text-decoration: line-through;
  }
  ins {
    text-decoration: underline;
  }
  del + ins {
    margin-left: .25em;
  }
}
