header {
  padding: .75em;
  background: #fff;
  border-bottom: .5em solid $red;
  h1 {
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    margin-bottom: .5rem;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    a {
      display: block;
      padding: .5em;
    }
  }
}

@media(min-width: $break1) {
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }
}
