.header {
  background: #fff;
  border-bottom: .5em solid $red;
  h1 {
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    margin: .5em 0;
    padding: .25em;
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }
  nav {
    display: flex;
    justify-content: center;
    overflow-y: auto;
    a {
      padding: .5em .75em;
      margin: 0 .125em;
      white-space: nowrap;
      cursor: pointer;
      &:hover, &.active {
        background: $red;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

@media(min-width: $break1) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    padding: .25em .5em 0;
    h1 {
      margin: 0;
      padding: .25em;
    }
  }
}
