#jump-link {
  display: none;
}

.jump {
  display: flex;
  input, button {
    padding: .5em .75em;
    height: 2em;
  }
  input {
    flex: 1;
  }
  button {
    background: $red;
    color: #fff;
    cursor: pointer;
  }
}

@media (min-width: $break1) {
  #jump-link {
    display: inline;
  }
  .jump {
    display: block;
    position: absolute;
    right: .5em;
    top: 3.5em;
    background: #fff;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
