main {
  line-height: 1.5;
  margin: 0 auto;
  max-width: $box-small;
}

.tab-pane {
  display: none;
  &.active {
    display: block;
  }
}

@media(min-width: $break1) {
  main {
    margin: 1rem auto;
    max-width: $break1;
  }
}

@media(min-width: $break2) {
  main {
    max-width: $break2;
  }
}
