.notes {
  nav {
    padding: 1em;
    a {
      display: block;
    }
  }
  @media(min-width: $break2) {
    display: flex;
    font-size: 1.25em;
    nav {
      flex-basis: 16em;
    }
    .box-body {
      flex: 1;
    }
  }
}
