.setting {
  display: flex;
  align-items: baseline;
  label {
    flex-basis: 8em;
    font-weight: 600;
  }
}

.inputs {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  label, select {
    flex: 1;
    border: 1px solid $gray;
    margin: .25em 0 .25em .5em;
    padding: .25em;
  }
  label {
    cursor: pointer;
    font-weight: normal;
    white-space: nowrap;
    input {
      margin-right: .25em;
    }
  }
}
