.text {
  font-size: 1.25em;
  @media(min-width: $break2) {
    font-size: 1.375em;
    padding: 3rem;
  }
}

.block {
  &:not(:last-child) {
    margin-bottom: 1em;
  }
  @media(min-width: $break2) {
    display: flex;
  }
}

.meta {
  font-size: .825em;
  color: $red;
  text-align: right;
  margin-bottom: .5em;
  @media(min-width: $break2) {
    flex: 1;
    text-align: left;
  }
}

.content {
  font-family: 'IM Fell English';
  .title {
    margin-top: 2em;
  }
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 400;
  }
  h1 {
    font-size: 1.25em;
  }
  p {
    text-align: justify;
    &:not(.first) {
      text-indent: 2em;
    }
    &.note {
      font-size: .875em;
    }
  }
  blockquote {
    margin-left: 2em;
    margin-top: 1em;
    text-indent: 0;
  }
  sup {
    color: $red;
  }
  ul {
    list-style-type: none;
    margin: 0;
  }
  .wide {
    letter-spacing: 1rem;
  }
  .dc {
    float: left;
    font-size: 3.35em;
    line-height: 1;
    margin-top: -0.03em;
    margin-bottom: -0.1em;
  }
  .sc {
    font-style: normal;
    font-family: 'IM Fell English SC';
  }
  .greek {
    font-family: 'GFS Didot';
  }
  .tab {
    display: inline-block;
    width: 2em;
  }
  @media(min-width: $break2) {
    flex-basis: 25.8em;
  }
}
