.tool {
  .box-head {
    display: flex;
    flex-wrap: wrap;
    a {
      color: #fff;
    }
    h2 {
      &:not(:last-child) {
        a {
          text-decoration: underline;
        }
        &::after {
          content: '>';
          padding: 0 .25em;
        }
      }
    }
  }
  form {
    border: 1px solid $gray;
    display: flex;
    flex: 1;
    input, button, a {
      display: block;
      padding: .5em;
    }
    input {
      flex: 1;
    }
    button, a {
      cursor: pointer;
      background: transparent;
      color: $gray;
      &:hover, &.active {
        color: $red;
      }
    }
    @media(min-width: $break1) {
      border: 0;
    }
  }
  @media(min-width: $break1) {
    padding: 0;
  }
}
