---
layout: compress
---
<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="hume, david hume, texts, scholarship">
    <meta name="description" content="{{ site.description }}">
    <link rel="shortcut icon" href="{{ site.baseurl }}{% link assets/hume.ico %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC|IM+Fell+English:400,400italic|GFS+Didot">
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/hume.scss %}?v=2">
    <link rel="manifest" href="{{ site.baseurl }}{% link assets/hume.webmanifest %}">
    <title>{{ site.title }}</title>
    <script defer src="{{ site.baseurl }}{% link assets/texts.js %}?v=2"></script>
  </head>
  <body>
    <header>
      <h1>Hume Texts Online</h1>
      <nav>
        <a{% if layout.section == 'texts' %} class="active"{% endif %} href="{{ site.baseurl }}{% link index.md %}">Texts</a>
        <a{% if layout.section == 'notes' %} class="active"{% endif %} href="{{ site.baseurl }}{% link notes/index.md %}">Notes</a>
        <a{% if layout.section == 'scholarship' %} class="active"{% endif %} href="{{ site.baseurl }}{% link scholarship/index.md %}">Scholarship</a>
        <a{% if layout.section == 'search' %} class="active"{% endif %} href="{{ site.baseurl }}{% link search.md %}">Search</a>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
