---
layout: compress
---
<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="hume, david hume, texts, scholarship">
    <meta name="description" content="{{ site.description }}">
    <link rel="shortcut icon" href="{{ site.baseurl }}{% link assets/hume.ico %}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=IM+Fell+English+SC|IM+Fell+English:400,400italic|GFS+Didot">
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/hume.scss %}">
    <title>{{ site.title }}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% if layout.section == 'texts' %}
      <script defer src="{{ site.baseurl }}{% link assets/texts.js %}"></script>
    {% elsif page.subsection == 'bibliographies' %}
      <script defer src="{{ site.baseurl }}{% link assets/bibliographies.js %}"></script>
    {% endif %}
  </head>
  <body>
    <header>
      <h1>davidhume.org</h1>
      <nav>
        <a{% if layout.section == 'texts' %} class="active"{% endif %} href="{{ site.baseurl }}{% link index.html %}">Texts</a>
        <a{% if layout.section == 'notes' %} class="active"{% endif %} href="{{ site.baseurl }}{% link notes/index.md %}">Notes</a>
        <a{% if layout.section == 'scholarship' %} class="active"{% endif %} href="{{ site.baseurl }}{% link scholarship/index.md %}">Scholarship</a>
        <a{% if layout.section == 'about' %} class="active"{% endif %} href="{{ site.baseurl }}{% link about/index.md %}">About</a>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
