---
layout: default
section: texts
---
<div class="box banner">
  <img alt="texts banner" src="{{ site.baseurl }}{% link assets/banner.png %}">
</div>
<div class="box-row">
  <div class="box">
    <div class="box-body notes marginless">
      {% include contents.html id='tal' %}
    </div>
  </div>
  <div class="box">
    <div class="box-body notes marginless">
      {% include contents.html id='etss' %}
    </div>
  </div>
</div>
<div class="box-row">
  <div class="box">
    <div class="box-body notes marginless">
      {% include contents.html id='post' %}
    </div>
  </div>
  <div class="box">
    <div class="box-body notes marginless">
      {% include contents.html id='other' %}
    </div>
  </div>
</div>
