---
layout: default
section: texts
---
<div class="box banner">
  <img alt="texts banner" src="{{ site.baseurl }}{% link assets/banner.png %}">
</div>
<div class="box notice">
  <div class="box-body">
    <h3>** Update November 2018 **</h3>
    <p>We are delighted to announce that the text for Hume's <a href="/texts/h"><i>History of England</i></a> is finally available, meaning that we now have a complete set of everything Hume published. The inclusion of this work coincides (not coincidentally) with the start of a new project, <i>English Philosophical Texts Online</i>, the aim of which is to collect together the best digital editions of a broad canon of English philosphical works from Hobbes to Mill. These texts will be made freely available on the web alongside user-friendly tools for performing sophisticated searches, textual comparisons, and stylometric analyses. For more information, watch this space, or email <a href="mailto:amyas.merivale@philosophy.ox.ac.uk">amyas.merivale@philosophy.ox.ac.uk</a>.</p>
  </div>
</div>
<div class="box-row">
  <div class="box">
    <div class="box-body notes marginless">
      {% include contents.html id='anon' %}
    </div>
  </div>
  <div class="box">
    <div class="box-body notes marginless">
      {% include contents.html id='ack' %}
    </div>
  </div>
</div>
<div class="box-row">
  <div class="box">
    <div class="box-body notes marginless">
      {% include contents.html id='post' %}
    </div>
  </div>
  <div class="box">
    <div class="box-body notes marginless">
      {% include contents.html id='other' %}
    </div>
  </div>
</div>
