---
layout: default
section: scholarship
---
<div class="box">
  <nav class="box-tabs">
    <a{% if page.subsection == 'scholarship' %} class="active"{% endif %} href="{{ site.baseurl }}{% link scholarship/index.md %}">Scholarship</a>
    <a{% if page.subsection == 'bibliographies' %} class="active"{% endif %} href="{{ site.baseurl }}{% link scholarship/bibliographies.md %}">Bibliographies</a>
    <a{% if page.subsection == 'workshops' %} class="active"{% endif %} href="{{ site.baseurl }}{% link scholarship/workshops.md %}">Workshops</a>
    <a{% if page.subsection == 'links' %} class="active"{% endif %} href="{{ site.baseurl }}{% link scholarship/links.md %}">Links</a>
  </nav>
  <div class="box-body notes">
    {{ content }}
  </div>
</div>
