---
layout: default
section: texts
---
{% assign text = site.data[page.text] %}

<div class="tool box" id="tools" data-text="{{ page.text }}">
  {% include tools.html text=page.text %}
</div>

<div class="tab-pane" id="results-pane">
  <div class="text box">
    <div class="box-body" id="results"></div>
  </div>
</div>

<div class="tab-pane active" id="text-pane">
{% if page.text == 'all' %}
  <div id="text">
    <div class="box-row">
      {% include contents.html text='tal' all=true %}
      {% include contents.html text='etss' all=true %}
    </div>
    <div class="box-row">
      {% include contents.html text='post' all=true %}
      {% include contents.html text='other' all=true %}
    </div>
  </div>
{% elsif text.texts %}
  <div id="text">
    {% include contents.html text=page.text %}
  </div>
{% else %}
  <div class="text box">
    <div class="box-body" id="text">
      {% include text.html text=page.text %}
    </div>
  </div>
{% endif %}
</div>

{% if text.variants %}
  <div class="tab-pane" id="variants-pane">
    <div class="text box">
      <div class="box-body" id="variants">
        {% include variants.html text=page.text %}
      </div>
    </div>
  </div>
{% endif %}

{% if text.images %}
  <div class="tab-pane" id="images-pane">
    {% for image in text.images %}
      <div class="image box">
        <div class="box-body">
          <img src="{{ site.baseurl }}/assets/img/{{ image }}.jpg" alt="image of manuscript page {{ image }}">
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

<div class="tab-pane" id="notes-pane">
  <div class="notes box">
    <div class="box-body" id="notes">
      {% include notes.html text=page.text %}
    </div>
  </div>
</div>
