---
layout: 'default'
section: 'texts'
---
<div class="box">
  {% include text/tabs.html active=page.tab %}
  {% case page.tab %}
    {% when 'text' %}
      {% if page.contents %}
        <div class="box-body notes wide">
          {% include contents.html id=page.text %}
        </div>
      {% else %}
        <div class="box-body text" id="text-pane">
          {% include text.html id=page.text %}
        </div>
      {% endif %}
    {% when 'variants' %}
      <div class="box-body text" id="text-pane">
        {% include variants.html id=page.text %}
      </div>
    {% when 'images' %}
      <div class="box-body text">
        {% include images.html id=page.text %}
      </div>
    {% else %}
      <div class="box-body notes wide">
        {{ content }}
      </div>
  {% endcase %}
</div>
