---
section: texts
---
<div class="text">
  {% include section.html section=site.data.d-intro %}
  {% include section.html section=site.data.d-1 %}
  {% include section.html section=site.data.d-2 %}
  {% include section.html section=site.data.d-3 %}
  {% include section.html section=site.data.d-4 %}
  {% include section.html section=site.data.d-5 %}
  {% include section.html section=site.data.d-6 %}
  {% include section.html section=site.data.d-7 %}
  {% include section.html section=site.data.d-8 %}
  {% include section.html section=site.data.d-9 %}
  {% include section.html section=site.data.d-10 %}
  {% include section.html section=site.data.d-11 %}
  {% include section.html section=site.data.d-12 %}
</div>
